@charset "UTF-8";

/* light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #3b3d42;
$dark-background-secondary: #222;
$dark-color: #50e3c2;
$dark-color-secondary: #999;
$dark-border-color: #a9a9b3;

/* Global theme colors */
$selection-highlight-color: #f81ce5;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
