{{- define "main" -}}
<div>
    <div class="posts">
        {{- range .Data.Pages -}}
        <article>
            <h3>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- if .Params.language }}
                <span class="language meta-label">{{ .Params.language }}</span>
                {{- end }}
            </h3>
            {{- if .Description }}
            <p class="description">{{ .Description }}</p>
            {{- end }}
        </article>
        {{- end }}
    </div>
</div>
{{- end }}
